<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xencosworks.fittset">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Dashboard"
            android:theme="@style/AppThemeDashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputForm"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppThemeInputForm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashboard" />
        </activity>
        <activity
            android:name=".AllExercises"
            android:label="All Exercises"
            android:theme="@style/AppThemeAllEx">
        </activity>
        <!-- The exported attribute is used when sharing inner data from the app to another apps. -->
    </application>

</manifest>

<!--TODO: Remove Database Provider when implementing room-->